# Ignore Mac System Files
.DS_store

#Ignore node_modules
node_modules

#Ignore environment variables (API keys)
.env

#Ignore dist bundle
bundle.js
sdc-vectrex-chris-shipping-dev.js
sdc-vectrex-chris-shipping-prod.js

newrelic.js
newrelic_agent.log