body {
  margin: 0;
  padding: 0;
}
#content {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
}
#header {
  margin-bottom: 30px;
}
#left-col {
  flex: 2 1;
}
#right-col {
  flex: 1 1;
}
#footer {
  margin-top: 60px;
}